.timeline-container {
  padding: 0px;
}

#timeline {
  font-family: 'Lato', sans-serif;
}

#timeline td {
  padding: 0 8px;
}

#timeline td:nth-child(1) {
  color: #908C82;
  text-align: right;
}

#timeline td:nth-child(2) {
  color: #908C82;
  font-size: 26px;
  font-weight: bold;
  padding: 16px 8px;
}

#timeline td:nth-child(3) {
  color: black;
}

#timeline td.highlight {
  color: #AC543C;
}

#how-we-met h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}