.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-content-container {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

/* timeline */

.timeline-container {
  margin-left: 72px;
  padding: 0px;
}

.timeline-container h2 {
  margin: 0 0 12px;
  font-size: 28px;
  padding-left: 34px;
}

#timeline {
  font-family: 'Lato', sans-serif;
}

#timeline {
  font-family: 'Lato', sans-serif;
}

#timeline td {
  padding: 0 8px;
}

#timeline td:nth-child(1) {
  color: #908C82;
  text-align: right;
}

#timeline td:nth-child(2) {
  color: #908C82;
  font-size: 26px;
  font-weight: bold;
  padding: 16px 8px;
}

#timeline td:nth-child(3) {
  color: black;
}

#timeline td.highlight {
  color: #AC543C;
}


/* how we met */

.about-content {
  width: 620px;
  align-items: center;
}

.about-content h1 {
  margin: 0 0 32px;
}

.about-content h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

.about-content p {
  font-size: 18px;
  margin-bottom: 24px;
}

.about-content .section-header {
  margin-top: 48px;
}

.about-content .image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-content .image-container p {
  margin-left: 24px;
}

.about-content .image-container img {
  height: 190px;
  margin-bottom: 24px;
}



/* photo slides */

.slides-container {
  width: 620px;
  margin: 0 0 72px;
}

.slides-small {
  display: none;
}

.slides-container img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.slick-arrow::before {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about-content-container {
    margin-left: 0;
  }
  .about-container h1 {
    width: auto;
    text-align: center;
  }

  .timeline-container {
    margin-left: 0;
  }

  .timeline-container h2 {
    padding-left: 0;
    text-align: center;
  }

  .about-content {
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 760px) {
  .about-container h1 {
    margin: 0 0 20px;
  }
  .about-content-container {
    align-items: center;
  }
  .slides-container {
    width: 472px;
    margin: 16px 0 64px;
  }
  .slides-container img {
    object-fit: cover;
  
    width: 150px;
    height: 150px;
  }

  .about-content {
    width: 472px;
  }
  .about-content .section-header {
    margin-top: 36px;
  }
  .about-content .image-container {
    flex-direction: column;
  }
  .about-content .image-container img {
    width: 150px;
    height: 150px;
  }
  .about-content .image-container p {
    margin-left: 0;
  }
  .timeline-container {
    margin-bottom: 24px;
  }
}


@media only screen and (max-width: 520px) {
  .slides-container {
    width: 317px;
    margin: 8px 0 24px;
  }
  .slides-large {
    display: none;
  }
  .slides-small {
    display: block;
    margin-bottom: 30px;
  }
  .about-container h1 {
    font-size: 30px;
  }
  .about-content {
    width: 317px;
    margin-bottom: 24px;
  }
  .about-content p {
    font-size: 16px;
  }
  .timeline-container {
    width: 317px;
  }
}