.app-container {
  height: 100%;
  background-color: #F1EAD9;
}

.content {
  width: 100%;
  height: -webkit-calc(100% - 68px);
  height: -moz-calc(100% - 68px);
  height: calc(100% - 68px);
  padding: 92px 24px 24px;
  background-color: #F1EAD9;
}

.content h1, .content h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  margin-bottom: 16px;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* GENERAL STYLES */

p {
  font-family: 'lato'
}

a {
  color: #AC543C;
}

a:hover {
  color: #9DAAB0;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.center {
  text-align: center;
}

.emphasis {
  font-style: italic;
}

@media only screen and (max-width: 450px) {
  .content {
    padding-top: 72px;
  }
}

@media only screen and (max-width: 365px) {
  .content {
    padding-left: 8px;
    padding-right: 8px;
    min-width: 365px;
  }
}