.app-container {
  height: 100%;
  background-color: #F1EAD9;
}

.content {
  width: 100%;
  height: -webkit-calc(100% - 68px);
  height: -moz-calc(100% - 68px);
  height: calc(100% - 68px);
  padding: 58px 24px 0;
  background-color: #F1EAD9;
}

.content h1, .content h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  margin-bottom: 16px;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}