.home-container {
  background-image: url('../images/sloth-splash-2.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.home-content-container {
  height: 100vh;
  padding: 10px;
}

.home-content {
  background-color: #f3ebd8;
  color: #5C2D5B;
  border: 5px solid #5C2D5B;
  margin: 24px;
  font-family: 'Roboto Slab', serif;
  width: fit-content;
  padding: 16px 16px 8px 16px;
}

.home-content h1 {
  margin: 0 0 16px;
  font-weight: bold;
}

.home-content h2 {
  margin: 0px;
}

.home-content a {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}
