.home-container {
  width: 100%;
  display: flex;
}

.home-container .row {
  margin: 0px;
}

.home-content {
  color: black;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content h2, h3 {
  font-family: 'Lato', sans-serif;
}

.home-content img {
  width: 400px;
}

@media only screen and (max-width: 990px) {
  .home-container .image-container {
    padding: 0 20%;
  }

  .home-content {
    height: auto;
  }
}
