.logistics-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logistics-content-column {
  width: 450px;
}
.logistics-content-section {
  margin: 0 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logistics-content-column.large {
  width: 650px;
}
.logistics-content-section img {
  width: 100%;
  margin: 4px 0 12px;
}
.logistics-content-container .logistics-content-section > h2 {
  width: 100%;
  padding: 0 8px 8px 16px;
  margin: 0;
  font-weight: bold;
  color: black;
  font-size: 28px;
}
.logistics-content-section-text {
  padding: 16px;
  width: 100%;
}
.logistics-content-section-text p {
  font-size: 16px;
}
.logistics-content-section-text h4 {
  margin-top: 24px;
  font-weight: bold;
}
#event-description {
  margin-bottom: 24px;
}
#zola-logo {
  width: 50%;
  margin: 8px 8px 8px 0;
}
#shuttle-times table {
  width: 100%;
  margin-bottom: 12px;
}
#shuttle-times th, #shuttle-times td {
  padding: 8px;
  border: 1px solid black;
}
.logistics-icon {
  margin-right: 4px;
}
.event-details-day h4 {
  background: #908C82;
  color: #F1EAD9;
  padding: 8px;
  width: fit-content;
}

@media only screen and (max-width: 870px) {
  .logistics-content-container {
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }
  .logistics-content-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  .logistics-content-section {
    margin: 0 0 32px;
  }
  .logistics-content-column.large {
    flex-direction: column;
    width: 100%;
  }
  .logistics-content-column.large .logistics-content-section {
    width: 100%;
  }
  #zola-logo {
    width: 100px;
    margin: 8px 0 10px;
  }
  .registry-container {
    display: flex;
    flex-direction: row;
  }
  .logistics-content-container .logistics-content-section > h2 {
    text-align: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 870px) {
  .registry-container {
    flex-direction: column;
  }
  .registry-container .zola-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #zola-logo {
    margin-left: 0;
  }
}