.wedding-content-base-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wedding-content-base-container .emphasis {
  font-size: 16px;
}

/* Wedding tiles */
.wedding-tile-container {
  display: flex;
  flex-direction: row;
}
.wedding-tile {
  width: 200px;
  justify-content: center;
  margin: 24px;
  border: 4px solid #908C82;
  position: relative;
  display: inline-block;
}
.wedding-tile h3 {
  margin: 0;
  padding: 8px 0;
  text-align: center;
  color: #F1EAD9;
  background-color: #908C82;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.wedding-tile img {
  padding: 0;
  margin: 0;
  width: 100%;
}
.wedding-tile img:hover {
  opacity: 0.1;
}
.wedding-tile .text {
  display: none;
  position: absolute;
  top: 40px;
  padding: 8px;
}
.wedding-tile a:hover {
  /* color: #AC543C; */
  color: black;
}
.wedding-tile p:hover {
  color: #9DAAB0;
}

/* Wedding infobox */

.wedding-infobox-container {
  padding: 8px;
  white-space:nowrap;
  margin-bottom: 48px;
}

.wedding-infobox {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  color: black;
}

.wedding-infobox-image {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.wedding-infobox-image img {
  width: 200px;
  height: 200px;
}

.wedding-infobox-text {
  margin-left: 15px;
}
.wedding-infobox-text h1 {
  border-bottom: 4px solid black;
  padding-bottom: 16px;
  margin: 0;
}
.wedding-infobox-text h3 {
  margin: 2px 0;
}
.wedding-infobox-text .address-container {
  margin-top: 20px;
}
.wedding-infobox-text .address-container p {
  margin-bottom: 2px;
}
.wedding-infobox-text .date {
  white-space: nowrap;
}


@media only screen and (max-width: 760px) {
  .wedding-infobox-container {
    margin-bottom: 16px;
  }
  .wedding-infobox {
    display: block;
  }
  .wedding-infobox-text {
    text-align: center;
    margin-left: 0;
  }
  .wedding-infobox-text h1 {
    margin-bottom: 16px;
  }
  .wedding-infobox-image {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .wedding-infobox-text {
    white-space: normal;
  }
  .wedding-infobox-text h1 {
    font-size: 30px;
  }
  .wedding-infobox-text h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 390px) {
  .wedding-infobox {
    padding-top: 0px;
  }
  .wedding-infobox-image img {
    width: 150px;
  }
  .wedding-infobox-image img {
    width: 150px;
  }
  .wedding-infobox-text h1 {
    font-size: 24px;
  }
  .wedding-infobox-text h3 {
    font-size: 16px;
  }
}